<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Chat</title>
</head>

<body>

<label for="username">Your Name</label>
<input class="form-control" name="username" id="username" value="Anonymous">
<div id="panelBody" class="panel-body"></div>
<textarea class="form-control" rows="1" id="chatText" name="chatText" placeholder="Type a message"></textarea>
<button id="send" class="btn btn-primary">Send</button>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    var interval = 4000; //4 seconds

    function sendMessage() {
        $.ajax({
            url: "{{ url_for('receive_message') }}",
            type: "POST",
            data: {
                'chatText': $("#chatText").val(),
                'username': $("#username").val()
            },
            success: function () {
                recvMessage(),
                    $("#chatText").val('');
            }
        });
    }

    function recvMessage() {
        $.ajax({
            url: "{{ url_for('send_messages_list') }}",
            type: "GET",
            success: function (result) {
                $("#panelBody").html(result);
            },
            complete: function (result) {
                setTimeout(recvMessage, interval);
            }
        });
    }

    $(document).ready(function () {
        $("#chatText").keypress(function (e) {
            if (e.keyCode == 13) {
                $("#send").click();
            }
        });
        $("button").click(sendMessage);
        setTimeout(recvMessage, interval);
    });
</script>

</body>
</html>

